<h1>Hello World</h1>
<p>See Me in views/static/index.html.erb</p>
<form action ="/urls" method="post">
	Enter URL:
	<input type="text" name="long_url">
	<input type="submit" value="Shorten url">
</form>

<%unless url == ''%>
	<p> Shortened results: <%= url %></p>
<% end %>